.trainer {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.trainer p {
	margin: 4px 0;
}

.trainer.hover {
  background: #FAFAFA;
}

.trainer .admin {
	display: none;
}

.trainer.hover .admin {
display: inline;
}